:root {
    --button-background: white;
    --button-hover: lightgray;
    --button-click: rgb(220,220,220);
}



/* remove unnecessary padding */
body {
    margin: 0px;
    padding: 0px;
    background-color: red;
}

/* scale background to fit device */
#background {
    width:100%;
    position: absolute;
    top:50px;
    z-index: -1;
}

/* hide scrollbars */
body::-webkit-scrollbar {
    display: none;
}

/* navbar */
#navBar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 0;
}

#navBar > #popup {
    top: 100%;
    width: 50px;
    height: 25px;
    background-color: white;
    border: 0px;
    border-bottom-right-radius: 12.5px;
    color: grey;
    font-weight: bold;
}

#navBar > #navigation > button {
    width:fit-content;
    height:100%;
    background-color: var(--button-background);
    border: 0px;
}

#navBar > #navigation > button:hover {
    background-color: var(--button-hover);
}

#navBar > #navigation > button:active {
    background-color: var(--button-click);
}